langchain-text-splitters
langchain-community
langchain-openai
langchain-core
faiss-cpu
unstructured
pypdf
langchain_ollama
fastapi
uvicorn
flashrank
chromadb
rank-bm25
pytesseract
pdf2image
langsmith
